body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--dark-colour);
    overflow: hidden;
    perspective: 100px;
}

.flowers {
    position: relative;
    transform: scale(0.9);
}

.flower {
    position: absolute;
    bottom: 10vmin;
    transform-origin: bottom center;
    z-index: 10;
}